@model CivikeyWebsite.Controllers.SupportEmailViewModel
<div>
    <p>Une question a été posée sur le site www.civikey.fr :</p>

    <p>Email : @Model.Email</p>
    <p>Objet : @Model.Subject</p>
    <p>Corps : @Model.Body</p>
</div>