@model CiviKey.ViewModel.CategorizedRoadmapViewModel
@{
@*Feature display part*@
    <div class="progress-list-of-features categorized-progress-list" data-id="@ViewBag.CurrentRoadmapId">
        <div class="accordion" id="accordion2">
        @{
           int i = 0;
            foreach( string categoryName in Model.CategorizedFeatures.Keys )
            {
               i++;
               <div class="accordion-group">
                   <div class="accordion-heading">
                       <h2 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse@(i)">
                           @categoryName (@Model.CategorizedFeatures[categoryName].Count)
                       </h2>
                   </div>
                   <div id="collapse@(i)" class="accordion-body collapse in" style=" height:0px;">
                       <div class="accordion-inner">
                           @Html.Partial("_FeatureCategoryView", Model.CategorizedFeatures[categoryName])
                       </div>
                   </div>
               </div> 
            }
        }
        </div>
    </div>
    <script type="text/javascript">
        $('.collapse').collapse({ hide: true });
    </script>
}
