@model CiviKey.ViewModel.CategorizedRoadmapViewModel
@{
    @*Feature display part*@
    <div class="progress-list-of-features" id="categorized-progress-list" data-id="@ViewBag.CurrentRoadmapId">
        @{
            foreach( string categoryName in Model.CategorizedFeatures.Keys )
            {
                if( Model.CategorizedFeatures[categoryName].Count > 0)
                {    
                    <h2>@categoryName</h2>
                    @Html.Partial( "_FeatureCategoryView", Model.CategorizedFeatures[categoryName] )
                }
            }
        }
    </div>
}
