
C:\Code\Dev4\civikey-website>@git.exe %*
﻿@model CiviKey.ViewModel.RoadmapViewModel
@{
    int lineCount = (int)Math.Ceiling( (double)Model.Features.Count / (double)4 );
    int visibleLinesCount = lineCount;
    if( lineCount > 2 )
    {
        visibleLinesCount = 2;
    }
    int lineFeatureCount = Model.Features.Count > 3 ? 3 : Model.Features.Count;
    int index;
    bool hasExtraFeatures = false;
}

@*Feature display part*@
<div class="progress-list-of-features" data-id="@ViewBag.CurrentRoadmapId">
    <h2>Nouvelles fonctionnalités</h2>
    <h2>Fonctionnalités améliorées</h2>
    <h2>Fonctionnalités disponibles</h2>
    <h2>Fonctionnalités non disponibles</h2>
</div>

@* Version Download part *@
@{
    if( Model.Name != "All" )
    {
        <div class="release-info-container">
            <p>Version @Model.Name</p>
    <div class="feature-download-btn"></div>
        </div>
    }
}

C:\Code\Dev4\civikey-website>@set ErrorLevel=%ErrorLevel%

C:\Code\Dev4\civikey-website>@rem Restore the original console codepage.

C:\Code\Dev4\civikey-website>@chcp %cp_oem% > nul < nul
