@presentation-bg: transparent;
@description-bg:  #4F4F4F;
@partners-bg: #509be4;
@contact-bg: #f8f8f8;
@import url(http://fonts.googleapis.com/css?family=Rambla);
@font-face{
font-family: 'quicksand';
  src: url('../fonts/quicksand-regular.eot');
  src: url('../fonts/quicksand-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/quicksand-regular.woff') format('woff'),
       url('../fonts/quicksand-regular.ttf') format('truetype'),
       url('../fonts/quicksand-regular.svg#quicksanditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.navbar{
    margin-bottom: 0;
}
.container{
    width: 980px !important;
}
#partners-baner{
    background: #f8f8f8;
    padding: 5px 0;
    text-align:center;
    & > .container{
        opacity: 0.8;
    }
    img{
        display: inline-block;
        margin: 0 14px;
    }
}
ul.center-nav{
    float: right;
    margin: auto;

    text-align:center;
    li > a {
        line-height: 30px;
        font-size: 18px;
        font-family: 'quicksand';
        font-weight: bold;
    }
    li:hover{
        background: #509be4;
        & > a {
            color:white !important;
        }
    }
}
.navbar > .container .navbar-brand{
    margin: 5px 0;
    width: 171px;
    height: 50px;
    background: url('../images/logo.png') center no-repeat;
}
.btn.btn-cvk{
    position:relative;
    background-color: @partners-bg;
    color: white;
    font-weight:bold;
    border: 1px solid darken(@partners-bg, 5%);
    display: block;
    margin: auto;
    font-size: 24px;
    outline: none;
    &:active{
        outline: none;
    }
    &:hover{
        background-color: white;
        color: @partners-bg;
    }
    .glyphicon{
        margin-right: 10px;
    }
}
.body-content{
    font-family: 'quicksand';
    background-size: cover;
}
section > .container{
    padding: 60px 0px;
    h1{
        font-size: 36px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 60px;
        font-weight: normal;
        font-family: Rambla;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    p{
        font-size: 18px;
    }
}
#presentation{
    color: white;
    background: url( '../images/handicap.jpg') fixed @presentation-bg;
    text-shadow: 1px 0px black;

    h1{
        font-size: 60px !important;
        font-weight: normal;
        margin: 5px auto 35px;
        font-family: Rambla
    }
    h2{
        font-size: 30px;
        margin: auto;
        font-weight: bold;
        margin-bottom: 25px;
        width: 880px;
    }
}

#description{
    color: white;
    background-color: @partners-bg;
   
}

#features{
    color: #333;
    background-color: @contact-bg;
}

#contact{
    background: url('../images/handshake.jpg') fixed;
    background-size:cover;
    background-color: @contact-bg;
    color: white;
}
section > .container .feature{
    width: 305px;
    float: left;
    margin: 0 10px;

    & > img{
        width: 128px;
        display: block;
        margin: auto;
    }
    & > h1{

        font-size: 26px;
        height: 56px;
        text-align: center;
        font-weight:bold;
        margin: 15px 0;
    }
    & > p{
        text-align: center;
    }
}
footer{
    background : #4F4F4F;
    color: white;
    height: 100px;
    text-align: center;
}
.partner{
    width: 480px;

    height: 129px;
    background : #4F4F4F;
    background: rgba(79, 79, 79, 0.6);
    float:left;
    margin: 5px;

    .partner-logo{
        float: right;
        height: 100%;
        background: white;
        padding: 0 10px;
        width: 175px;
    }
    .partner-info{
        padding: 20px;
        float: left;
        height: 100%;
        text-align:left;

        h2
        {
            margin-top: 0;
            font-size: 26px;
            font-family: Rambla;
        }
        i{
            color: #98C6F3;
            vertical-align: text-top;
            margin-right: 5px;
        }
        a{
            color: white;
            &:hover{
                color: #98C6F3;
            }
        }
    }

}
#get-started, #top-features{
    padding-bottom: 65px;
    background: @contact-bg;
    h1{
        font-family: Rambla;
        font-size: 42px;
        text-align: center;
        margin-bottom: 40px;
        color: #509be4;
    }
    h3{
        color:#509be4;
        font-weight: bold;
    }
    hr{
        border: none;
        height: 13px;
        width: 980px;
        margin: 40px auto;
        background: url('../images/divider.png');
    }
    p{
        font-size: 16px;
    }
}
#top-features{
    hr{
        border: none;
        height: 13px;
        width: 980px;
        margin: 60px auto;
        background: none;
    }
    ul.feature-menu{
        list-style: none;
        margin: 0 auto;
        margin-bottom: 45px;
        background: #f8f8f8;
        padding: 10px 0;
        box-shadow: 0px 2px 10px  #f8f8f8;
        top: 0;
        z-index: 2;
        width: 100%;

        &.affix ~ #click{
            margin-top: 215px;
        }

        li{
            float: left;
            width: 145px;
            height: 145px;
            margin: 0 6px;
            border: 1px solid #4f4f4f ;
            border-radius: 90px;
            opacity: 0.8;
            transition: all 0.5s;

            &:hover{
                opacity: 1;
                border: 1px solid #509be4;
                background: white;
            }

            a{
                display: block;
                text-align:center;
                width: 100%;
                height: 100%;
                overflow: hidden;
                color: #509be4;

                &:hover{
                    text-decoration:none;
                }
                &.single-line{
                    line-height: 45px;
                }
            }
            img{
                
                display: block;
                margin: 10px auto 5px auto;
            }
            &.clearfix{
                float:none;
                clear: both;
                width:0;
                height:0;
                border: none;
            }
        }
    }
}
a.github{
    width: 32px;
    height: 32px;
    background: url('../images/octocat.png');
    display: inline-block;

}