@presentation-bg: transparent;
@description-bg: #4F4F4F;
@partners-bg: #509be4;
@contact-bg: #f8f8f8;

@import url(http://fonts.googleapis.com/css?family=Rambla);

@font-face {
    font-family: 'quicksand';
    src: url('../fonts/quicksand-regular.eot');
    src: url('../fonts/quicksand-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/quicksand-regular.woff') format('woff'), url('../fonts/quicksand-regular.ttf') format('truetype'), url('../fonts/quicksand-regular.svg#quicksanditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    -webkit-text-stroke: 0.3px;
}

.navbar {
    margin-bottom: 0;

    &.navbar-borderless{
        border: none;
    }
}

.container {
    width: 980px !important;
    position: relative;
}

#partners-baner {
    background: #f8f8f8;
    padding: 5px 0;
    text-align: center;

    & > .container {
        opacity: 0.8;
    }

    img {
        display: inline-block;
        margin: 0 14px;
    }
}

.hide-intersection {
    left: 384px;
    top: 225px;
    width: 37px;
    height: 157px;
    background: #509be4;
    position: absolute;
}

ul.center-nav {
    float: right;
    margin: auto;
    text-align: center;

    li > a {
        line-height: 30px;
        font-size: 18px;
        font-family: 'quicksand';
        font-weight: bold;
    }

    li:hover {
        background: #509be4;

        & > a {
            color: white !important;
        }
    }
}

.navbar > .container .navbar-brand {
    margin: 5px 0;
    width: 171px;
    height: 50px;
    background: url('../images/logo.png') center no-repeat;
}

.btn.btn-cvk {
    position: absolute;
    font-weight: bold;
    background-color: white;
    color: @partners-bg;
    display: block;
    margin: auto;
    font-size: 22px;
    outline: none;
    transition: all 0.3s;
    right: 40px;
    top: 445px;
    height: 185px;
    width: 185px;
    white-space: normal;
    border-radius: 150px;
    border: 2px solid white;

    &.doc {
        font-size: 18px;
        top: 15px;
        right: 85px;
        margin: 0;
        height: 100px;
        width: 100px;
        vertical-align: middle;
    }

    &:active {
        outline: none;
    }

    &:hover {
        background-color: @partners-bg;
        color: white;
        border: 2px solid white;
    }

    .glyphicon-save {
        font-size: 36px;
    }

    .text-container {
        margin-top: 16px;
        display: block;
        margin-left: 4px;

        &.application {
            margin-top: 27px;
        }
    }
}

.body-content {
    font-family: 'quicksand';
    background-size: cover;
}

section > .container {
    padding: 60px 0px;

    h1 {
        font-size: 36px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 60px;
        font-weight: normal;
        font-family: Rambla;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    p {
        font-size: 18px;
    }
}

hr {
    border: none;
    height: 13px;
    width: 980px;
    margin: 40px auto;
    background: url('../images/divider.png');
}

.small{
    font-size: 11px;
    font-style: italic;
}

#presentation {
    color: white;
    background: url('../images/handicap.jpg') fixed #f8f8f8;
    background-size: cover;

    .container {
        padding: 40px 0 60px;
    }

    .illustration {
        border-radius: 500px;
        overflow: hidden;
        padding: 20px;
        background: #509be4;
        float: left;
        display: block;
        margin-top: -20px;
        margin-left: 40px;
    }

    .round-content {
        background: #509be4;
        float: left;
        width: 550px;
        height: 550px;
        border-radius: 500px;
        padding-top: 40px;
        margin-left: -40px;
    }

    h1 {
        font-size: 50px !important;
        font-weight: normal;
        margin: 5px auto 50px;
        width: 400px;
        font-family: Rambla;
    }

    h2 {
        font-size: 28px;
        line-height: 36px;
        margin: auto;
        margin-bottom: 25px;
        width: 880px;
        width: 470px;
        position: relative;
        z-index: 2;
    }
}

#description {
    color: white;
    background-color: @partners-bg;
}

#features {
    color: #333;
    background-color: @contact-bg;

    .btn {
        background: #509be4;
        color: white;
        border: 2px solid #509be4;
        margin-right: 13px;
        margin-top: 45px;
        outline: none;
        transition: all .3s;

        &:hover {
            background: white;
            color: #509be4;
        }
    }
}

#contact {
    background: url('../images/handshake.jpg') fixed;
    background-size: cover;
    background-color: @contact-bg;
    color: white;
}

section > .container .feature {
    width: 305px;
    float: left;
    margin: 0 10px;

    & > img {
        width: 128px;
        display: block;
        margin: auto;
    }

    & > h1 {
        font-size: 26px;
        height: 56px;
        text-align: center;
        font-weight: bold;
        margin: 15px 0;
    }

    & > p {
        text-align: center;
    }
}

.align-left {
    text-align: left !important;
}

footer {
    padding: 10px 0;
    background: #4F4F4F;
    color: white;
    height: 130px;
    text-align: center;
    font-family: Quicksand;

    p {
        padding: 0 15px;

        img {
            margin-left: 10px;
        }
    }

    ul {
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        list-style: none;

        li {
            float: left;
            padding: 0 15px;

            a {
                color: #DEDEDE;

                &:hover {
                    color: #FFF;
                }
            }
        }
    }
}

.partner {
    width: 480px;
    height: 129px;
    background: #4F4F4F;
    background: rgba(79, 79, 79, 0.6);
    float: left;
    margin: 5px;

    .partner-logo {
        float: right;
        height: 100%;
        background: white;
        padding: 0 10px;
        width: 175px;
    }

    .partner-info {
        padding: 20px;
        float: left;
        height: 100%;
        text-align: left;

        h2 {
            margin-top: 0;
            font-size: 26px;
            font-family: Rambla;
        }

        i {
            color: #98C6F3;
            vertical-align: text-top;
            margin-right: 5px;
        }

        a {
            color: white;

            &:hover {
                color: #98C6F3;
            }
        }
    }
}

#get-started, #top-features, #support {
    padding-bottom: 65px;
    background: @contact-bg;

    h1 {
        font-family: Rambla;
        font-size: 42px;
        text-align: center;
        margin-bottom: 40px;
        color: #509be4;
    }

    h3 {
        color: #509be4;
        font-weight: bold;
        margin-bottom: 15px;
    }



    p {
        font-size: 16px;
    }
}

#top-features {
    hr {
        border: none;
        height: 13px;
        width: 950px;
        margin: 60px auto;
    }

    ul.feature-menu {
        list-style: none;
        margin: 0 auto;
        margin-bottom: 60px;
        background: #f8f8f8;
        padding: 0px 0 20px 0;
        border-bottom: 2px solid #6F6F6F;
        top: 0;
        z-index: 2;
        width: 950px;
        height: 155px;

        &.affix ~ #click {
            margin-top: 215px;
        }

        li {
            float: left;
            width: 110px;
            height: 110px;
            margin: 10px 24px 0 24px;
            border: 1px solid #4f4f4f;
            border-radius: 90px;
            opacity: 0.8;
            transition: all 0.5s;

            &:hover {
                opacity: 1;
                border: 1px solid #509be4;
                background: white;
            }

            a {
                display: block;
                text-align: center;
                width: 100%;
                height: 100%;
                overflow: visible;
                color: #509be4;
                line-height: 75px;
                outline: none;

                &:hover {
                    text-decoration: none;
                }
            }

            img {
                /*display: block;*/
                margin: 21px auto 5px auto;
            }

            &.clearfix {
                float: none;
                clear: both;
                width: 0;
                height: 0;
                border: none;
            }
        }
    }
}

a.github {
    width: 32px;
    height: 32px;
    background: url('../images/octocat.png');
    display: inline-block;
}

/*  Keyboards   */

#keyboards {
    .container {
        padding: 0 0 60px;
    }

    h1 {
        font-size: 42px;
        text-align: center;
        color: #509be4;
        font-family: 'Rambla';
        margin-bottom: 20px;
    }

    background: #f8f8f8;

    .keyboard {
        box-sizing: border-box;
        width: 450px;
        height: 175px;
        float: left;
        margin: 12px 18px;
        background: white;
        color: #333;
        border: 2px solid #509be4;
        border-radius: 5px;

        .content {
            padding: 10px;
            height: 141px;
            float: right;
            width: 386px;
            box-sizing: border-box;

            h1 {
                margin-top: 0px;
                margin-bottom: 10px;
                font-size: 20px;
                font-family: Quicksand;
            }

            p {
                font-size: 16px;
            }
        }

        .content-footer {
            padding: 0 10px;
            height: 20px;
            float: left;
            width: 386px;

            .author, .date {
                box-sizing: border-box;
                width: 180px;
                display: inline-block;
                color: #509be4;
                font-size: 14px;
            }

            .date {
                text-align: right;
            }
        }

        .actions {
            box-sizing: border-box;
            height: 100%;
            float: right;
            background: #509be4;
            width: 60px;

            .btn {
                background: white;
                color: #509be4;
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                border: 2px solid white;
                margin: 25px auto;
                font-size: 22px;
                line-height: 36px;

                &:hover {
                    background: #509be4;
                    color: #FFF;
                }
            }
        }
    }
}

.panel-cvk{
    border: 1px solid #DDD;
    .panel-heading{
        background: white;
        color: #509be4;
        border-bottom: 1px solid #DDD;
        height: 57px;
       h3{
            line-height: 36px;
            font-size: 22px;
       }
    }
    .btn-cvk{
        border-radius: 5px;
        top: 0;
        left: 0;
        position: relative;
        height: auto;
        width: auto;
        font-size: 16px;
        font-weight: normal;
        background: #509be4;
        color: white;
        border: 1px solid #509be4;
        &:hover{
            background:white;
            color: #509be4;
            border: 1px solid #509be4;
        }
    }
}
#keyboards {
    .btn-cvk {
        border-radius: 5px;
        display: inline-block;
        top: 0;
        left: 0;
        position: relative;
        height: auto;
        width: auto;
        font-size: 16px;
        font-weight: normal;
        background: #509be4;
        color: white;
        border: 1px solid #509be4;

        &:hover {
            background: white;
            color: #509be4;
            border: 1px solid #509be4;
        }
    }

    
}
.modal.modal-cvk {
    .text-counter {
        float: right;
        background: #509be4;
        margin-bottom: -18px;
        display: block;
        height: 25px;
        color: white;
        border-radius: 5px 5px 0 0;
        padding: 5px;
        line-height: 16px;

        & + input, & + textarea {
            border-radius: 5px 0px 5px 5px;
        }
    }

    .modal-header {
        background-color: #509be4;
        color: white;
       
        border-radius: 5px 5px 0 0;
        h3{
            font-size: 20px;
        }
    }

    .btn-cvk {
        margin-top: 25px;
        width: 100%;

        &.btn-send {
            float: right;
        }
    }

    .validate {
        input, textarea {
             &.ng-invalid {
                border-color: #E45050;
            }
        }
    }

    input, textarea {
        border-color: #509be4;
        border-radius: 0px;
        box-shadow: none;
        border-radius: 5px;

       

        &:focus {
            box-shadow: none;
        }
    }

    textarea {
        height: 95px;
    }

    label {
        color: #509be4;
    }

    .close {
        opacity: 0.5;
        margin-top: -8px;
        font-size: 38px;
        color: white;

        &:hover {
            opacity: 0.8;
        }
    }
    img.thumb{
        height: 175px;
        max-width: 558px;
        display: block;
        margin: auto;
        padding: 5px;
        border: 2px solid #509be4;
        border-radius: 4px;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: inherit;
    display: block;
}

/* Support */
#support {
    .field-validation-error{
        color: red;
    }

    form {
        margin-top: 20px;
    }

    figcaption {
        margin-bottom: 30px;
    }

    hr {
        margin: 20px 0;
    }

    .mail-sent {
        padding: 10px;
        h3{
            margin-top:0;
            border-radius:5px;
        }
    }
}
