@model CiviKey.ViewModel.TestimonyViewModel
@{
    ViewBag.Title = "_TestimonyView";
}

    <p id="testimony-title" data-id="@Model.Id">@Model.Title</p>
    <p class="testimony-content">@Model.Content</p>
    <p class="testimony-author">@Model.Author</p>
