@model CiviKey.ViewModel.HomeViewModel
@{
    Html.CK().Scripts.ByName().IncludeJS( "home.js" );

    string lastRoadmapDownloadableVersion;
    string lastRoadmapDownloadFilePath;
    
    if( String.IsNullOrWhiteSpace( Model.LastRoadmap.DownloadFileName ) )
    {
        lastRoadmapDownloadableVersion = Model.LastRoadmap.Name;
        lastRoadmapDownloadFilePath = "#";
    }
    else
    {
        lastRoadmapDownloadableVersion = CiviKey.Models.Helpers.GetVersionFromFileName( Model.LastRoadmap.DownloadFileName ).ToString();
        lastRoadmapDownloadFilePath = "/Content/downloads/" + Model.LastRoadmap.DownloadFileName;
    }
    
    
}
<div class="home-slider">
    <div class="home-slider-download">
        <div class="home-slider-download-info">
            <p>
                Projet Open source et gratuit</p>
            <p>
                Dernière version :  @lastRoadmapDownloadableVersion</p>
        </div>
        <div class="home-slider-download-btn">
            <a href="@lastRoadmapDownloadFilePath" title="download CiviKey" style="width: 200px; height: 50px; display: block;"></a>
        </div>
    </div>
</div>
<div class="home-main-container">
    <div class="home-main-news">
        <div id="home-carousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                @{
                    for( int i = 0; i < @Model.News.Count; i++ )
                    {
                    <div class="item @if( i == 0 )
                                     {@("active")}">@Html.Partial( "_NewsView", Model.News.ElementAt( i ) )</div>
                    }
                }
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <div id="home-main-testimony">
        <div id="testimony-container">
        </div>
    </div>
</div>
