@{
    ViewBag.Title = "Home Page";
}
@section js{
    <script src="@Url.Content("~/Scripts/home.js")" type="text/javascript"></script>
}
<div class="home-slider">
    <div class="home-slider-download">
        <div class="home-slider-download-info">
            <p>Projet open source</p>
            <p>Version current 2.5.1</p>
        </div>
        <div class="home-slider-download-btn"></div>
    </div>
</div>
<div class="home-main-container">
    <div class="home-main-news">
        <p class="news-title">News title</p>
        <p class="news-content">Presently at night and looks him than modern world. The Star is of sleep. Ve been on the space itself, on writing, says Sissy. Did you rather shifty way for pleasure, does not learn this time, reactor from the name of the Spice, that was a shimmering crystalline lovelight of the appleess, spotting. everything weve. Spice, that was a shimmering crystalline lovelight of the appleess, spotting. everything weve.</p>
    </div>
    <div class="home-main-testimony">
        <p class="testimony-title">Team title</p>
        <p class="testimony-content">Presently at night and looks him than modern world. The Star is of sleep</p>
        <p class="testimony-author">Persons name</p>
    </div>
</div>