@{
    ViewBag.Title = "Home Page";
}
@{
    Html.CK().Scripts.ByName().IncludeJS( "home.js" );
}
<div class="home-slider">
    <div class="home-slider-download">
        <div class="home-slider-download-info">
            <p>Projet Open source et gratuit</p>
            <p>Dernière version : 2.5.1.15</p>
        </div>
        <div class="home-slider-download-btn"></div>
    </div>
</div>
<div class="home-main-container">
    <div class="home-main-news">
        <p class="news-title">Lancement du site !</p>
        <p class="news-content"><br />Le site CiviKey est maintenant en ligne ! N'hésitez pas a parcourir ses différentes pages pour vous informer sur l'état de ce projet gratuit et open-source.</p>
    </div>
    <div class="home-main-testimony">
        <p class="testimony-title">un avenir radieux</p>
        <p class="testimony-content">Depuis quelques mois, le projet CiviKey prend de l'ampleur, je lui prédis un avenir radieux !</p>
        <p class="testimony-author">Jean de la batte de base-ball</p>
    </div>
</div>