@model CiviKey.Models.Contact

@section Description{
    Page Contactez-nous
}

@{
    
    Html.CK().Scripts.ByName().IncludeJS( "jquery.unobtrusive-ajax.js" ).
                                IncludeJS( "jquery.validate.js" ).
                                IncludeJS( "jquery.validate.unobtrusive.js" ).
                                IncludeJS( "contacts.js" );
}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCDAqSfJYM4GCTbN-dl-JLE4ux3XP7FdHs&sensor=true"></script>
<div class="mailsent-dialog">
</div>
<div class="contact-content">
    <div class="contact-title-container">
        <div class="contact-title">
            <p>
                Pour toute question sur l’utilisation de Civikey, si vous voulez participer au projet
                ou pour toute nouvelle idée de développement, n’hesitez pas à utiliser le formulaire
                ci-dessous pour nous contacter. Selectionnez tout d'abord le type de question que
                vous voulez poser :
            </p>
        </div>
        <div class="contact-selector-div">
            <input style="float: left;" class="contact-mailType" type="radio" name="mailType"
                id="func" value="Fonctionnelle" checked="true" title="Question sur l'utilisation de CiviKey" />
            <label for="func" class="contact-mail-text">
                Question sur l'utilisation ou les fonctionnalités de CiviKey
            </label>
            <input style="float: left;" class="contact-mailType" type="radio" name="mailType"
                id="tech" value="Technique" title="Question technique" />
            <label for="tech" class="contact-mail-text">
                Question technique
            </label>
            <div style="clear: both;">
            </div>
        </div>
    </div>
    <div class="contact-main-content-back">
        <div class="contact-main-content">
            <div class="contact-form-map-container">
                <div class="contact-form">
                    @Html.Partial( "_MailView", Model )
                </div>
                <div class="contact-map">
                    <div id="map_canvas">
                    </div>
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
    </div>
</div>
