@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contact-content">
    <div class="contact-title">
        Pour toute question sur l’utilisation de Civikey, si vous voulez participer au projet ou pour toute nouvelle idée de développement, n’hesitez pas à utiliser le formulaire ci-dessous pour nous contacter.
    </div>

    <div class="contact-main-content-back">
        <div class="contact-main-content">
            <div class="contact-form-map-container">
                <div class="contact-form">
                    <form action="POST">
                        <div class="contact-form-elem">
                            <label>A :</label> support@@invenietis.com
                        </div>
                        <div class="contact-form-elem">
                            <label>De :</label> <input type="text" name="email" />
                        </div>
                        <div class="contact-form-elem">
                            <label>Sujet :</label> <input type="text" name="email" />
                        </div>
                        <div class="contact-form-elem">
                            <label>Message :</label> <textarea type="text" name="email" ></textarea>
                        </div>
                        <div class="contact-form-elem-btn">
                            <input type="submit" value="Envoyer" class="send-btn"/>
                        </div>
                    </form>
                </div>
                <div class="contact-map">
                    <iframe width="320" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=10+rue+Mercoeur++75011+Paris&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=61.19447,135.263672&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=10+Rue+Merc%C5%93ur,+75011+Paris,+%C3%8Ele-de-France,+France&amp;ll=48.857289,2.384033&amp;spn=0.006494,0.01369&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=10+rue+Mercoeur++75011+Paris&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=61.19447,135.263672&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=10+Rue+Merc%C5%93ur,+75011+Paris,+%C3%8Ele-de-France,+France&amp;ll=48.857289,2.384033&amp;spn=0.006494,0.01369&amp;z=15&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</div>