@model CiviKey.ViewModel.ContactViewModel
           
<a style="display: block;" target="_blank" href="@Url.Action( "GetPartnerPage", "Partners", new { safeName = Model.SafeName } )">
    <div class="partners-elem-title">
        <div class="partners-title-name">@Model.Name</div>
        <div class="partners-title-logo">
            <img src="/Content/images/PartnerPageLogo/@Model.LogoPath" alt="Logo" />
        </div>
        <div style="clear: both;">
        </div>
    </div>
</a>
<div class="partners-elem-text">
    @Html.Raw( Model.Description )
</div>
