@model CiviKey.ViewModel.ContactViewModel
           

    <div class="partners-elem-title">
        <a class="partners-elem-link" @if(!Model.HasSpecificPartnerPage){@("target='_blank'")} href="@Url.RouteUrl( "PartnerPage", new { safeName = Model.SafeName } )">
            <span class="partners-title-name">@Model.Name</span>
        </a>
        <a class="partners-elem-link logo" @if(!Model.HasSpecificPartnerPage){@("target='_blank'")} href="@Url.RouteUrl( "PartnerPage", new { safeName = Model.SafeName } )">
            <img src="/Content/images/PartnerPageLogo/@Model.LogoPath" alt="Logo" />
        </a>
        <div style="clear: both;">
        </div>
    </div>
<div class="partners-elem-text">
    @Html.Raw( Model.Description )
</div>
