@model CiviKey.ViewModel.ContactViewModel


    
<div class="partners-elem-title">
    <div class="partners-title-logo"></div>
    <div class="partners-title-name">@Model.Name</div>
    <div style="clear:both;"></div>
</div>
<div class="partners-elem-text">
    @Html.Raw(Model.Description)
</div>
    

