@model CiviKey.ViewModel.ContactViewModel


    
<div class="partners-elem-title">
    <div class="partners-title-logo">
        <img src="/Content/images/PartnerLogo/@Model.LogoPath" alt="Logo" />
    </div>
    <div class="partners-title-name">@Model.Name</div>
    <div style="clear:both;"></div>
</div>
<div class="partners-elem-text">
    @Html.Raw(Model.Description)
</div>
    

