@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="partners-content">
    <div class="partner-list">
        <div class="partners-begin-back"></div>
        <div class="partners-elem">
            <div class="partners-elem-title">
                <div class="partners-title-logo"></div>
                <div class="partners-title-name"></div>
            </div>
            <div class="partners-content"></div>
        </div>
        <div class="partners-end-back"></div>
    </div>
</div>