@model IList<CiviKey.ViewModel.ContactViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="partners-content">
    <div class="partners-title">
        Le projet CiviKey rassemble de nombreux acteurs : des ergotérapeutes, des développeurs, de grandes entreprises et des étudiants.
    </div>
    <div class="partner-list">
        <div class="partners-begin-back"></div>
        @for (int i=0;i<Model.Count;i++)
        {
            <div class="partners-elem">
                <div class="partners-elem-content">
                    @Html.Partial( "_ContactDisplay", Model[i])
                    <div class="partners-sep @if (i == Model.Count-1){@("invis")}else {@("vis")}" ></div>
                </div>
            <div style="clear:both;" ></div>
            </div>
        }
        <div class="partners-end-back"></div>
    </div>
</div>