@model IList<CiviKey.ViewModel.ContactViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="partners-content">
    <div class="partners-title">
        Le projet CiviKey rassemble de nombreux acteurs : ergothérapeutes, grandes entreprises,
        développeurs et étudiants.
        <br />
        Cliquez sur le nom de chaque partenaire pour en savoir plus.
    </div>
    <div class="partner-list">
        <div class="partners-begin-back">
        </div>
        @for( int i = 0; i < Model.Count; i++ )
        {
            <div class="partners-elem">
                <div class="partners-elem-content">
                    @Html.Partial( "_ContactDisplay", Model[i] )
                    <div class="partners-sep @if( i == Model.Count - 1 ){ @("invis") }else { @("vis") }" >
                    </div>
                </div>
                <div style="clear: both;">
                </div>
            </div>
        }
        <div class="partners-end-back">
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        //Showing and hiding partner logos
        //        $(".partners-elem-content").mouseenter(function () {
        //            var el = $(".partners-title-logo", this);
        //            el.stop(true, true); //clear queue & go to end of the animation.
        //            el.fadeIn();
        //        });
        //        $(".partners-elem-content").mouseleave(function () {
        //            var el = $(".partners-title-logo", this);
        //            el.stop(true, true);
        //            el.fadeOut();
        //        });
    } ());
</script>
