



<div class="partner-page-left">
    <div class="partner-page-image">
       <img alt="logo fondation garches" src="/Content/images/PartnerLogo/fondation-garches-small.jpg" />
    </div>
    <p>
        Pour en savoir plus : 
    </p>
     <div class="partner-page-info">
    <p>Georges André</p>
    <p>Vocatif, conseil de la Fondation Garches</p>
    <p>vocatif@wanadoo.fr</p>
    <p>Tel : 01 43 55 33 60</p>
    <p><a href="http://www.handicap.org" target="_blank">www.handicap.org</a></p>
    </div>
</div>
<div class="partner-page-right">
    <h2>A propos de la Fondation Garches</h2>
<p>La Fondation Garches a pris la succession de l’Institut Garches, qui avait vu le jour en 1988 à l’initiative des médecins de l’Hôpital Raymond Poincaré, avec le soutien de quelques entreprises. Créée par l’Institut Garches en 2005, <span class="bold">avec le soutien du Ministère en charge de la recherche, et d’emblée reconnue d’utilité publique</span> , la Fondation Garches a été la première fondation de recherche à caractère scientifique dans le domaine du Handicap.
La Fondation Garches est dotée d’un capital de 1,5 million d’euros, constitué à part égale entre les Pouvoirs Publics (Ministère en charge de la Recherche) et des partenaires privés qui tous - entreprises, associations et institutions - ont rejoint le cercle des fondateurs ou donateurs de la Fondation*. 
L’amélioration de la prise en charge  des personnes handicapées doit rester une priorité nationale. Mais quels que soient la qualité des soins, l’évolution des traitements ou les progrès de la médecine de réadaptation, les conditions de vie des personnes atteintes de déficiences motrices ou sensorielles restent bien souvent difficiles et douloureuses.
C’est pour cette raison qu’a été créé la Fondation Garches, avec l’ambition d’aider à une meilleure prise en charge de ces personnes et faciliter, chaque fois que possible, leur vie sociale et professionnelle.
Pour atteindre de tels objectifs, la Fondation Garches conçoit et met en oeuvre des programmes adaptés au plus près des besoins de la personne. Elle a aussi pour objectif de partager la connaissance des médecins et paramédicaux qui la composent et encourager les travaux de recherche et d’innovation technologique susceptibles de contribuer à une amélioration de la vie quotidienne des personnes handicapées (voir le site internet de la Fondation Garches : <a href="http://www.handicap.org">www.handicap.org</a>).</p>
<h2>A propos de CiviKey</h2>
<p>C’est dans le cadre de cet axe « Innovation technologique » que la Fondation Garches s’est intéressée dès l’année 2008, au projet Civikey. Elle a proposé à l’un de ses partenaires, Alcatel- Lucent, d’aider au financement des développements du projet. C’est ainsi, notamment, que Alcatel-Lucent propose, en relation avec les médecins du travail et ergonomes, des adaptations à apporter au Civikey selon les  pathologies des travailleurs handicapés et les spécificités de leurs postes de travail en entreprise, dans le cadre de l’accord Groupe Alcatel-Lucent pour l’insertion professionnelle des personnes handicapées (Agefiph – DIRECCTE).
La Fondation Garches, grâce au soutien d’Alcatel-Lucent, coordonne et finance les développements assurés par Invenietis et les tests d’évaluation clinique effectués par la PFNT, Plate Forme Nouvelles Technologies de l’Hôpital Raymond Poincaré (Garches).
A noter que des salariés d’Alcatel Lucent en situation de handicap ont été intégrés au panel de personnes participant à l’évaluation clinique pilotée par la PFNT.</p>
</div>
<div style="clear:both"></div>