<div class="partner-page-left">
    <div class="partner-page-image">
        <img alt="logo fondation steria" src="/Content/images/PartnerLogo/fondation-steria.png" />
    </div>
    <p>
        Pour en savoir plus : 
    </p>
     <div class="partner-page-info">
    <p><a href="http://www.fondationsteria.org" target="_blank">www.fondationsteria.org</a></p>
    </div>
</div>
<div class="partner-page-right">
    <h2>La Fondation Steria - Institut de France</h2>
    <p><span class="bold">La Fondation Steria – Institut de France</span> s’inscrit dans <span class="bold">la politique de solidarité</span> du Groupe Steria, 
    qui a pour objectif de <span class="bold">favoriser l’autonomie de publics en difficulté</span> en leur donnant accès à l’éducation, à l’informatique et à un métier. 
    La Fondation est née d’une <span class="bold">démarche participative</span> de collaborateurs de Steria en France. 
    Elle a pour objectif de contribuer à la <span class="bold">réduction de la fracture numérique</span> dans trois domaines :</p>
    <ul>
        <li>L'éducation et la formation</li>
        <li>Le développement de solutions innovantes pour faciliter la vie au quotidien</li>
        <li>L'éducation et la formation</li>
    </ul>
    <p>
        La Fondation propose un terrain d’action pour les <span class="bold">collaborateurs de l’entreprise qui souhaitent s’engager, à titre bénévole</span>, auprès d’associations. 
        Elle apporte ainsi son soutien à des projets où les technologies de l’information apportent un bénéfice direct à des publics en difficulté, 
        à la fois par un mécénat financier et par <span class="bold">l’engagement bénévole de collaborateurs</span> Steria souhaitant contribuer à une société plus solidaire. 
    </p>
    <p>
        Par ailleurs, la bourse de la Fondation est un concours annuel destiné <span class="bold">aux étudiants d’écoles d’ingénieurs et de commerce pour réaliser un projet citoyen</span>, 
        dans le cadre de leurs études, et répondant aux objectifs de la Fondation. 
        Les lauréats bénéficient d’une bourse entre 5 000 et 10 000 euros et de l’accompagnement d’un parrain Steria pour la mise en œuvre de leur projet. 
        Des équipes étudiantes de l’ESIEA, Intech Info, SUPELEC, Telecom Sud Paris, l’ESIGETEL, l’ESSEC, l’ISEN Toulon, Sciences Po, l’EFREI, ont été lauréates de la bourse. 
    </p>
    <p>
        Depuis sa création en 2001, la Fondation a soutenu une <span class="bold">quarantaine de projets</span> en France, au Maroc, au Niger, au Bénin, au Burkina-Faso et au Cambodge, 
        provenant d’associations, d’étudiants et des collaborateurs. 
        Elle accompagne et a soutenu de nombreuses associations comme Interface Handicap, Réseau 19, ATD Quart Monde, Passerelles Numériques, Espaces, 
        le Groupement des Intellectuels Aveugles ou Amblyopes (GIAA), Ateliers Sans Frontières, Ecodair, dixièmefamille.com, Ares, Solidarité Internationale, 
        Enfants@l’hôpital, Le Club Informatique Pénitencier, les Enfants de l’Aïr.
    </p>
</div>
<div style="clear:both"></div>