<div class="partner-page-left">
    <div class="partner-page-image">
        <img alt="logo fondation steria" src="/Content/images/PartnerLogo/pfnt.png" />
        <img alt="logo fondation steria" src="/Content/images/PartnerLogo/aphp.jpg" />
    </div>
    <p>
        Pour en savoir plus :
    </p>
     <div class="partner-page-info">
    <p>Hôpital Raymond Poincaré</p>
    <p>104, Bd Raymond Poincaré</p>
    <p>92380 Garches</p>
    <p>Tel : 01.47.10.70.61</p>
    <p>Fax : 01.47.10.70.63</p>
    <p>pfnt.garches@rpc.aphp.fr</p>
    <p><a href="http://www.handicap.org/?La-Plate-Forme-Nouvelles" target="_blank">site web</a></p>
    </div>
</div>
<div class="partner-page-right">
    <h2>Plate Forme Nouvelles Technologies</h2>
    <p>
        La Plate-Forme Nouvelles Technologies (PFNT) de l’hôpital Raymond Poincaré est une unité de conseil, de démonstration, de formation et de recherche dans le domaine des Nouvelles Technologies appliquées aux personnes en situation de handicap.
        Initialement uniquement tournée vers la <span class="bold">robotique d’assistance (en 1995)</span>, elle s’est peu à peu ouverte à d’autres technologies de l’information et de la communication, comme l’<span class="bold">informatique</span>, la <span class="bold">Communication Améliorée et Alternative (CAA) et la domotique</span>. 
    </p>
    <p>
        La PFNT a pour vocation d’être à la fois
    </p>
    <ul>
        <li class="classic-li"><span class="bold">Un lieu de conseil, de démonstration et d’adaptation</span> destiné aux patients hospitalisés à Raymond Poincaré ou personnes extérieures dans le cadre d’une hospitalisation de jour. </li>
        <li class="classic-li"><span class="bold">Un site d’expertise</span> destiné aux personnes handicapées et aux professionnels (ergothérapeutes, ergonomes, médecins, kinésithérapeutes…) : ils y trouvent conseils, informations et formations sur tout ce qui a trait aux nouvelles technologies.</li>
        <li class="classic-li"><span class="bold">Un lieu de recherche</span> qui se développe en lien étroit avec le Centre d’Investigations Cliniques et d’Innovations Technologiques de l’hôpital. Les travaux de recherche actuels sont menés en collaboration avec des chercheurs issus de laboratoires universitaires, des ingénieurs, des industriels...  L’objectif est d’aider les industriels dans la mise au point de systèmes innovants en participant au cahier des charges et aux spécifications fonctionnelles de leurs produits et en évaluant ensuite le matériel en situation. La recherche peut également s'intéresser à l'évaluation écologique des patients.</li>
    </ul>
    <p>
        La PFNT entretien des relations privilégiées avec le milieu associatif qui constitue un soutien important (AFM, APF, ALIS, Fondation Garches….)
    </p>
   
</div>
<div style="clear:both"></div>