<div class="container">
    <h1>Trois raisons d'adopter Civikey</h1>
    <div class="feature">
        <img src="@Url.Content( "~/Content/images/round-icons/RoundIcons-Free-Set-13.png" )" />
        <h1>Adaptatif</h1>
        <p>Propose une solution ajustable aux besoins de l'utilisateur</p>
    </div>
    <div class="feature">
        <img src="@Url.Content( "~/Content/images/round-icons/RoundIcons-Free-Set-11.png" )" />
        <h1>Gratuit</h1>
        <p>Parce qu'un outils aussi fondamental devrait être accessible à tous.</p>
    </div>
    <div class="feature">
        <img src="@Url.Content( "~/Content/images/round-icons/RoundIcons-Free-Set-60.png" )" />
        <h1>Crée avec des ergothérapeutes</h1>
        <p>Qui de mieux que des professionnels du secteur pour identifier les besoins d'un patient ?</p>
    </div>
    <div class="clearfix"></div>

</div>
