<div class="container">
    <h1>Trois raisons d'adopter Civikey</h1>
    <div class="feature">
        <img src="@Url.Content( "~/Content/images/adaptive.png" )" />
        <h1>Fonctionnalités<br /> ajustables</h1>
        <p>Propose une solution ajustable aux besoins de l'utilisateur.</p>
    </div>
    <div class="feature">
        <img src="@Url.Content( "~/Content/images/free.png" )" />
        <h1>Disponible <br />gratuitement</h1>
        <p>Parce qu'un outils aussi fondamental devrait être accessible à tous.</p>
    </div>
    <div class="feature">
        <img src="@Url.Content( "~/Content/images/therapist.png" )" />
        <h1>Créé avec des ergothérapeutes</h1>
        <p>Qui de mieux que des professionnels pour identifier les besoins d'un patient ?</p>
    </div>
    <div class="clearfix"></div>
</div>
