<div class="bg-success mail-sent">
    <h3>Merci !</h3>
    <span>Votre question a bien été transmise à l'équipe en charge du développement de Civikey.<br/> Nous vous répondrons dès que possible.</span><br/>
</div>
