<div class="container">
    <h1 style="text-align:center">L'outil d'accessibilité par excellence</h1>
    <h2 style="text-align:center">
        Civikey est un <span class="bold">ensemble de solutions logicielles</span> qui a
        pour but d’aider les personnes en situation de handicap à utiliser un ordinateur.
    </h2>
    <p style="text-align:center;font-size: 100px;">
        <i class="glyphicon glyphicon-play-circle"></i>
    </p>
    <button class="btn btn-cvk btn-lg"><i class="glyphicon glyphicon-save"></i>Télécharger Civikey</button>
</div>