<div class="container">
    <a href="@Url.Action( "Documentation", "Home", new { version = "2.7.0" } )" id="btn-download-documentation" class="btn btn-cvk doc">
        <span class="text-container">
            Guide
            <br />
            <i class="glyphicon glyphicon-book"></i>
        </span>
    </a>
    <div class="illustration">
        <img src="@Url.Content( "~/Content/images/illustration.png" )" />
    </div>
    <div class="round-content">
        <h1 style="text-align:center">L'outil d'accessibilité adapté</h1>
        <h2 style="text-align:center">
            Civikey est un <span class="bold">ensemble de solutions logicielles</span> qui a
            pour but d’aider les personnes en situation de handicap à utiliser un ordinateur.
        </h2>
        @*<p style="text-align:center;font-size: 100px;">
                <i class="glyphicon glyphicon-play-circle"></i>
            </p>*@
    </div>
    <a href="@Url.Action( "Application", "Home", new { version = "2.7.0" } )" id="btn-download-application" class="btn btn-cvk btn-lg">
        <span class="text-container application">
            <i class="glyphicon glyphicon-save"></i>
            Télécharger Civikey
        </span>
    </a>

</div>
