<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Merci</h4>
    </div>
    <div class="modal-body">
        Vous venez de télécharger Civikey et nous vous en remercions !
    </div>
    <div class="modal-footer">
        <a href="@Url.Action( "Application", "Home", new { version = "2.7.0" } )" target="_blank" class="btn">Télécharger à nouveau</a>
        <button type="button" data-dismiss="modal" class="btn btn-primary">Fermer</button>
    </div>
</div>