@{
    ViewBag.Title = "Support utilisateur";
}
<div id="get-started">
    <div class="container">
        <h1>Comment utiliser Civikey ?</h1>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="@Url.Content( "~/Content/images/civikey_running.png" )" width="455" />
            </div>
            <div class="col-md-5 col-sm-6 col-md-offset-1">
                <h3>
                    Installation
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida, dui vel egestas pretium, nunc nibh facilisis justo, a blandit ligula metus vel nisl. Fusce.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-5 col-sm-6 col-md-offset-1">
                <h3>
                    Configuration
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida, dui vel egestas pretium, nunc nibh facilisis justo, a blandit ligula metus vel nisl. Fusce.</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <img src="@Url.Content( "~/Content/images/civikey_running.png" )" width="455" />
            </div>
        </div>
    </div>
</div>
