@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.CK().Scripts.ByName().IncludeJS( "project.js")

<div class="project-content">
<div class="project-slider">
    <div class="project-leftblock">
        <div class="project-leftblock-content">
            <div class="project-slide0 activeslide">
                <p>Civikey est un ensemble de solutions logicielles qui a pour but d’aider les personnes en situation de handicap à utiliser un ordinateur.</p>
                <p>Ce projet a été lancé suite à la constatation d’un manque de claviers virtuels gratuits sur Internet. Nous avons aussi remarqué qu’aucun des claviers existants n’intégraient les technologies récentes telles l’Eye-Tracking (déplacement du pointeur grâce à une caméra filmant l’œil).</p>
                <p>C’est pourquoi ce projet open-source (LGPL v3) et gratuit est développé dans l’optique de proposer un clavier virtuel non seulement fonctionnel et adapté au plus grand nombre de handicaps, mais qui puisse également se voir ajouter de nouvelles fonctionnalités facilement. Pour lui permettre de suivre les régulières avancées technologiques utilisables dans le cadre de l’aide au handicap.</p>
            </div>
            <div class="project-slide1 passiveslide">
                <p>Pour chaque type de handicap, une aide particulière est nécessaire.</p>
                <p>En fonction du type de déficience de l’utilisateur, nous avons besoin de proposer l’aide correspondante : police plus grosse pour les malvoyants, aide au clic et aide au déplacement du pointeur pour pallier une faible mobilité des membres supérieurs ou encore défilement des touches du clavier si l’utilisateur a la possibilité d’utiliser un contacteur.</p>
                <p>Notre but, avec CiviKey, est de proposer toutes ces aides dans une seule application et de proposer – terme – une interface de téléchargement qui sélectionnera automatiquement les fonctionnalités utilise pour un type de handicap particulier. Vous trouverez dans la section « Avancement », les développements en cours ainsi que l’ensemble des fonctionnalités intégrées à CiviKey.</p>
            </div>
            <div class="project-slide2 passiveslide">
                <p>Plusieurs entités travaillent de concert sur ce projet. </p>
                <p>Celui-ci a débuté en 2006. Le développement avait à l’époque été fait par des élèves de l’école d’informatique IN’TECH INFO (Groupe ESIEA), en partenariat avec la Plateforme des Nouvelles Technologies de l’hôpital de Garches (PFNT), et la fondation Stéria. Depuis, Alcatel-Lucent est également devenu mécène du projet, et la société Invenietis a pris en charge le développement du projet, pour garantir sa stabilité.</p>
                <p>CiviKey fait régulièrement l’objet de projets étudiants à IN'TECH INFO, ce qui permet d’explorer de nouvelles pistes d’aide au handicap : reconnaissance de figures, déplacement de la souris via Smartphone ou encore analyse de l’activité utilisateur pour identifier l’application courante et proposer sur le clavier virtuel des touches adaptées, pour accélérer les tâches automatisables effectuées par l’utilisateur.</p>
                <p>CiviKey fait régulièrement l’objet de projets étudiants à IN'TECH INFO, ce qui permet d’explorer de nouvelles pistes d’aide au handicap : reconnaissance de figures, déplacement de la souris via Smartphone ou encore analyse de l’activité utilisateur pour identifier l’application courante et proposer sur le clavier virtuel des touches adaptées, pour accélérer les tâches automatisables effectuées par l’utilisateur.</p>
                <p>CiviKey fait régulièrement l’objet de projets étudiants à IN'TECH INFO, ce qui permet d’explorer de nouvelles pistes d’aide au handicap : reconnaissance de figures, déplacement de la souris via Smartphone ou encore analyse de l’activité utilisateur pour identifier l’application courante et proposer sur le clavier virtuel des touches adaptées, pour accélérer les tâches automatisables effectuées par l’utilisateur.</p>
                <p>CiviKey fait régulièrement l’objet de projets étudiants à IN'TECH INFO, ce qui permet d’explorer de nouvelles pistes d’aide au handicap : reconnaissance de figures, déplacement de la souris via Smartphone ou encore analyse de l’activité utilisateur pour identifier l’application courante et proposer sur le clavier virtuel des touches adaptées, pour accélérer les tâches automatisables effectuées par l’utilisateur.</p>
            </div>
        </div>
    </div>
    <div class="project-rightblock">
        <div class="project-menuelem active" id="leprojet"><p>Le projet</p></div>
        <div class="project-menuelem inactive" id="aide"><p>Une aide multiple</p></div>
        <div class="project-menuelem inactive" id="acteurs"><p>Les acteurs</p></div>
    </div>
    <div style=" clear:both"></div>
    </div>
    <div class="project-shadow"></div>
</div>
