.contact-title-container
{
    width: 770px;
    margin: 0 auto 35px auto;
}

    .contact-title-container > div
    {
        padding-left: 30px;
    }

.contact-title
{
    font-family: Verdana;
    background-image: url('images/contact-title-back.png');
    background-repeat: repeat-y;
    font-size: 14px;
    background-position: 0 2px;
    line-height: 15px;
}

    .contact-title p
    {
        margin: 0px;
    }

.contact-main-content-back
{
    height: 378px;
    background-color: #efefef;
    width: 800px;
    margin:0 auto 0 auto;
    padding-top: 16px;
}

.contact-main-content
{
    background-image: url('images/contact-main-back.png');
    width: 772px;
    height: 362px;
    margin:0 auto 0 auto;
}

.contact-form-map-container
{
    padding:45px 40px 0 40px;
}

.contact-form
{
    min-height: 280px;
    float: left;
    margin:0 auto 0 auto;
    font-family: Verdana;
}

.contact-map
{
    width: 345px;
    float: left;
    min-height: 280px;
    margin:0 auto 0 20px;
}

.contact-mail-text
{
    width: 250px;
    padding:0 0 0 5px;
    margin:0 50px 0 8px;
}

.contact-selector-div
{
    margin-top: 20px;
}

label
{
    width: 110px;
    float: left;
}

.contact-form-elem
{
    margin-bottom: 20px;
    font-size: 16px;
    color: #505050;
    position: relative;
}

    .contact-form-elem input
    {
        width: 213px;
        background-color: #eaeaea;
        border: 1px solid #bebebe;
    }

    .contact-form-elem textarea
    {
        width: 209px;
        background-color: #eaeaea;
        border: 1px solid #bebebe;
        height: 110px;
        resize: none;
    }

.contact-form-elem-btn
{
    text-align: right;
}

.send-btn
{
    border: 1px solid #bebebe;
    background-color: #eaeaea;
    color: #505050;
}

#map_canvas
{
    width: 320px;
    height: 235px;
    margin-left: 20px;
    border: 1px solid #bebebe;
}

.mailsent-dialog
{
    text-align: center;
    display: none;
    position: absolute;
    width: 300px;
    height: 73px;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    z-index: 99999;
    background-color: #EAEAEA;
    border: 1px solid #BEBEBE;
    font-family: Verdana;
    margin:-35px -150px 0 -150px;
}

    .mailsent-dialog p
    {
        color: #505050;
        margin-top: 25px;
    }

.dialog-back
{
    background-color: red;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.field-validation-error
{
    display: block;
    width: 150px;
    min-height: 18px;
    font-size: 14px;
}

.contact-error-mesage
{
    position: absolute;
    z-index: 100;
    margin-left: 11px;
    margin-top: 2px;
    background-color: white;
    color: #ff7b6f;
    top: 0px;
    right: -130px;
    text-align: center;
    border: 1px solid #BEBEBE;
}

    .contact-error-mesage.textarea
    {
        margin-top: 0px;
    }

.validation-summary-errors
{
    text-align: left;
    width: 263px;
    float: left;
    font-size: 10px;
    margin-top: -10px;
    color: #ff7b6f;
}

    .validation-summary-errors ul
    {
        margin: 0px;
    }

input[type="radio"], input[type="checkbox"]
{
    -moz-opacity:0;
    filter:alpha(opacity:0);
    opacity:0;
    position: absolute;
}

    input[type="radio"] + label, input[type="checkbox"] + label
    {
        background: url('images/checkbox_empty.png');
        display: inline-block;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background-repeat: no-repeat;
        padding:0 0 0 30px;
        width: 250px;
    }

    input[type="radio"]:checked + label, input[type="checkbox"]:checked + label
    {
        background: url('images/checkbox_full.png');
        padding-left: 30px;
        background-repeat: no-repeat;
        width: 250px;
    }
