.project-content
{
    color: #4B4B4B;
    position: relative;
    width: 1024px;
}

.project-leftblock
{
    float: left;
    width: 656px;
    /*height:330px;*/
    background-color: #f4f4f4;
    border-top: 1px solid #858585;
    font-family: Verdana;
    font-size: 14px;
    text-align: justify;
    padding:0 40px 0 40px;
}

.project-rightblock
{
    border-top: 1px solid #858585;
    float: right;
    width: 286px;
}

.project-leftblock-content
{
    display: table-cell;
    padding:20px 0 20px 0;
}

.project-menuelem
{
    height: 110px;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}

    .project-menuelem p
    {
        font-family: Verdana;
        font-size: 15px;
        color: #9b9b9b;
        padding: 35px 0px 0px 0px;
        margin: 0 0 0 24px;
    }

#leprojet
{
    border-top: 1px solid #858585;
    border-right: 1px solid #858585;
}

.aide
{
}




/*---------------------Page le projet - carousel--------------------*/
.project-content .active-proj
{
    background-image: url('images/project-activeelem.png');
}

    .project-content .active-proj p
    {
        color: #f6f6f6;
    }

.project-content .inactive
{
    background-image: url('images/preject-inactivelem.png');
}
/*---------------------Page le projet - carousel--------------------*/

.passiveslide
{
    display: none;
}



.project-slider
{
    overflow: hidden;
    height: 620px;
    background-image: url('images/project-repeat-bar.png');
    background-position: right;
    background-repeat: repeat-y;
    border-right: 1px solid #858585;
    border-bottom: 1px solid #858585;
    border-left: 1px solid #858585;
    background-color: #f4f4f4;
    transition: height 2s;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.project-civikey-architecture
{
    padding-bottom: 20px;
}

.project-images
{
    text-align: center;
}