html
{
    height: 100%;
}

body
{
    height: 100%;
    background-color: #e4e4e4;
    font-family: Verdana;
}

#main-background
{
    min-height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    width:100%;
}
/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
a:link
{
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}

a:active
{
    text-decoration: none;
}

p, ul
{
    margin-bottom: 18px;
    line-height: 1.6em;
    font-family: Verdana;
}

div
{
    font-family: Verdana;
}

/* HEADINGS   
----------------------------------------------------------*/
h2
{
    padding: 0 0 10px 0;
    font-family: Verdana;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

.feature-seperator
{
    width: auto;
    height: 1px;
    background: #515151;
}

hr
{
    margin: 0px;
    padding: 0px;
}

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

/* TABLE
----------------------------------------------------------*/

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

    table td
    {
        padding: 5px;
        border: solid 1px #e8eef4;
    }

    table th
    {
        padding: 6px 5px;
        text-align: left;
        background-color: #e8eef4;
        border: solid 1px #e8eef4;
    }

/* MISC  
----------------------------------------------------------*/
.bold
{
    font-weight: bold;
}

.italic
{
    font-style: italic;
}


.clear
{
    clear: both;
}

.error
{
    color: Red;
}

nav, #menucontainer
{
    margin-top: 37px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

    #logindisplay a:link
    {
        color: white;
    }

    #logindisplay a:visited
    {
        color: white;
    }

    #logindisplay a:hover
    {
        color: white;
        text-decoration: none;
    }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.tri-state
{
    width: 6em;
}

body
{
    margin: 0px;
}


.classic-li
{
    line-height: 1.6em;
}
