.download-title
{
    margin-bottom: 40px;
}

.release-note-list
{
    margin-top: 35px;
}

    .release-note-list .release-note-list-description
    {
        background-color: #4B4B4B;
        -webkit-border-radius: 4px 4px 0px 0px;
        -moz-border-radius: 4px 4px 0px 0px;
        border-radius: 4px 4px 0px 0px;
        height: 25px;
    }

    .release-note-list .release-note-list-description p
    {
        color: #E4E4E4;
        font-size: 14px;
        margin: 0px;
        font-size: 13px;
        padding:2px 0 0 6px;
    }

.release-note-container
{
    margin-bottom: 10px;
}

.release-note-release-info
{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.release-note-title
{
    padding: 0;
}

.release-note-content
{
    padding:20px 0 10px 10px;
    border: 1px solid #EEE;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius:4px; 
    -webkit-border-bottom-right-radius:4px; 
    -o-border-bottom-left-radius: 4px;
    -o-border-bottom-right-radius:4px; 
}

    .release-note-content li
    {
        font-size:14px;
        line-height: 22px;
        list-style:none;
    }
    
    .release-note-content ul
    {
        margin:0;
    }

.release-note-title-container
{
    background-color: #eee;
    padding:10px 0 10px 10px;
    color:#4B4B4B;
}

.release-note-download-link-container
{
    float:right;
    margin-right:10px;
}

#download-page-btn-download
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.windows-compatibility
{
    float:right;
    margin:-13px 10px 0 0;
}