/* ------------------------ Header ------------------------ */

#header
{
    height: 100px;
    background-color: #4f4f4f;
}

.header-container, .footer-container
{
    width: 1024px;
    margin:0 auto 0 auto;
    height: 100px;
}

.header-container > a
{
    display: block;
    height: 100px;
    width: 200px;
    float: left;
}

.header-logo
{
    margin:22px 0 0 10px;
    border: 0px;
}

.header-menu-container
{
    float: right;
    background-image: url('../images/menu-back.png');
    background-repeat: repeat-x;
    margin-top: 37px;
}

.moving-element-container
{
    height: 3px;
}

.moving-elem
{
    height: 3px;
    background-color: #fff;
    opacity:0;
    position: relative;
    -moz-transition: opacity .5s ease 0s;
    -webkit-transition: opacity .5s ease 0s;
    -o-transition: opacity .5s ease 0s;
    transition: opacity .5s ease 0s;
}

.moving-elem-all
{
    height: 3px;
    background-color: #fff;
    opacity:0;
    position: relative;
    -moz-transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.Project
{
    width: 147px;
    left: 0px;
    display: block;
}

.Progress
{
    width: 159px;
    left: 151px;
}

.Partners
{
    width: 163px;
    left: 314px;
}

.Contact
{
    width: 200px;
    left: 481px;
}

ul#menu
{
    position: relative;
    margin-top: 18px;
}

    ul#menu li
    {
        font-family: Verdana;
        display: inline;
        list-style: none;
        padding: 22px 20px 0px 20px;
        cursor: pointer;
    }

        ul#menu li a
        {
            font-family: Verdana;
            font-size: 15px;
            color: #fff;
            padding: 22px 20px 0px 20px;
            cursor: pointer;
        }

ul#menu li.menuelem.selected a
{
    color: #b7b7b7;
}

/* ------------------------ Main container -------------------- */

#main
{
    width: 1024px;
    margin:0 auto 0 auto;
    position: relative;
}

/* -------------------------- Footer -------------------------- */

#footer
{
    background-color: #e4e4e4;
}

.footer-container
{
    padding-bottom: 12px;
}

.footer-logo
{
    margin-top: 12px;
}

.seperator
{
    height: 1px;
    background-color: #999999;
    margin:8px 0 8px 0;
}

.footer-menu
{
    font-family: Sakkal Majalla, Verdana;
    font-size: 16px;
    color: #4f4f4f;
}

    .footer-menu ul
    {
        display: inline;
        margin: 0;
        height: 25px;
        font-size:10px;
    }

    .footer-menu li
    {
        float: left;
        list-style-type: none;
        margin-right: 3px;
    }

    .footer-menu a
    {
        color: #000;
    }

        .footer-menu a:hover
        {
            text-decoration: underline;
        }

.fb-like.feature-facebook
{
    float:left;
    margin:0 5px 15px 15px;
}

.twitter-share-button.feature-twitter
{
    float:left;
    margin-top: 2px;
}

.fb-like
{
    float:right;
    margin:2px 5px 15px 15px;
}

.twitter-share-button
{
    float:right;
    margin-top: 2px;
    width: 100px !important;
}

/* -------------------------- Page descriptions -------------------------- */

.partners-title, .project-title, .download-title
{
    font-family: Verdana;
    background-image: url('../images/contact-title-back.png');
    background-repeat: repeat-y;
    font-size: 14px;
    margin:0 auto 30px auto;
    padding-left: 30px;
    background-position: 0 3px;
    line-height: 20px;
}

.progress-title
{
    font-family: Verdana;
    width: 1000px;
    background-image: url('../images/contact-title-back.png');
    background-repeat: repeat-y;
    font-size: 14px;
    margin:0 auto 35px auto;
    padding-left: 30px;
    background-position: 0 2px;
    line-height: 18px;
}

.item img
{
    margin:0 auto 0 auto;
}

.footer-container > .footer-fork-me
{
   margin-top: 15px;
   float: right;
   font-size: 9px;
   height: 16px;
   padding-top: 1px;
   margin-right:10px;
}
